.navWrapper {
    height: 3rem;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    font-size: 1.5rem;
    flex: 0 1 auto;
    margin-right: 1rem;
}

.navItems {
    display: flex;
    gap: 2rem;
    flex: 1;
    justify-content: center;
}

.navItems a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navItems a:hover {
    color: #007bff; /* Change color on hover */
}

.signInButton {
    background-color: black;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


